name: Build Master
on:
  push:
    branches:
      - master
    paths-ignore:
      - '.idea/**'
      - '.gitignore'
      - 'README.md'
      - 'repository.yaml'
      - 'smart-home-planner/**'
      - 'LICENSE'
  workflow_dispatch:
jobs:
  build-master:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          channelId: live
          projectId: '${{ env.PROJECT_ID }}'